{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {{ form_start(serieForm)}}
        {{ form_widget(serieForm) }}
        <button>Create!</button>
        {{ form_end(serieForm)}}
    </div>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="flash flash-{{ label }}">
    {{ message }}
    </div>
    {% endfor %}
    {% endfor %}
{% endblock %}
{% block title %}
    Create a new serie | {{ parent() }}
{% endblock %}